@(rule: RuleTemplate)

@main("Rule Template") {
  <div class="panel panel-success">
    <div class="panel-heading"><h3>@rule.name</h3></div>
  </div>
  @helper.form(routes.Rule.save(rule.id)) {
      <p>@rule.description</p>

      @if(rule.id == "1") {
        The price of <input type="text" id="cointype" name="cointype"></br> is larger than <input type="text" id="coinvalue" name="coinvalue"></br>
      }
      @if(rule.id == "2") {
        The price of <input type="text" id="cointype" name="cointype"></br> is less than <input type="text" id="coinvalue" name="coinvalue"></br>
      }
      
      <button type="submit" class="btn btn-lg btn-primary btn-block" id="save">Save</button>
  }
}
