@(username: String, rules: List[Int])

@main("Subscription Dashboard") {
  <div class="panel panel-success">
    <div class="panel-heading"><h3>Subscriptions</h3></div>
    <div class="panel-body">
        <a class="alignright" href="@routes.Rule.templates()"><button type="button" class="btn btn-success btn-lg">Add Rule</button></a>
    </div>
    @rules.map { rule =>
      <a href="@routes.Rule.index(rule)"><button type="button" class="btn btn-primary btn-lg btn-block">Rule @rule</button></a>
    }
  </div>
}
